body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    max-width: 214px;
    padding: 2px;
    border: 3px solid red;
}
.button-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.display{
    background-color: red;
    width: 100%;
    height: 50px;
    margin-bottom: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
}
#text{
    margin-left: 5%;
}
.btn{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}